@import './reset';
@import './variables';
@import './mixins';

#main-nav {
  background-color: $deepBlue;

  ul {
    margin-left: 12%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    @include mQ(600px) {
      display: block;
    }

    a {
      color: $offWhite;
      text-decoration: none;
      padding: 16px;
      display: block;
      text-align: center;

      &:hover {
        background-color: lighten($deepBlue, 10);
      }
    }
  }
}

section {
  h1 {
    font-size: $sectionHeading;
    color: $deepBlue;
  }
}

.lead-banner,
.lessons-banner {
  @include banner;
}

.lead-banner {
  text-align: right; 
}
.lessons-banner {
  li {
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px 0;
  }
}

#services {
  margin-top: 30px;
  margin-bottom: 60px;
  li {
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: (100% /3);
  }
  img {
    width: 60%;
    margin: 20px 20%;
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;
    &:hover {
      color: red;
    }
  }
  ul {
    @include clearfix;
  }
}

#projects {
  li {
    @include grid(6, 2%);
    img {
      width: 100%;
    }
  }
  ul {
    @include clearfix;
  }
}

footer {
  background-color: $deepBlue;
  color: white;
  text-align: center;
  padding: 20px;
}
